{% extends 'base.html.twig' %}

{% block title %}News Page{% endblock %}
{% block body %}
<h1>NEWS SITE</h1>

<div>
    <h2>Most Recent News: </h2>
    <a style="text-decoration: none", href="{{ path('display_comments_statistics', {'period': 'day'})}}"><button>Статистика комментариев по дням</button></a>

    <a style="text-decoration: none", href="{{ path('display_comments_statistics', {'period': 'month'})  }}"><button>Статистика комментариев по месяцам</button></a>
    <a style="text-decoration: none", href="{{ path('display_counts')}}"><button>Подсчет буквы p в самой длинной новости с самым коротким комментарием</button></a>
    <hr>
    <div class="news-block ">
    {% if list_of_news | length > 0 %}
        {% for new in list_of_news %}
            <div class="new-item">
                {% if new.newsTitle is defined %}
                <h3>{{ new.newsTitle }}:</h3>
                {% endif %}
                <p>Author: {{ new.newsAuthor }}</p>
                <p>Time: {{ new.createdAtDateAndTime | date('Y-m-d | H:i:s')}}</p>
                <p>Description: {{ new.newsDescription | slice(0, 30) }}...<a href="{{ path(('display_each_new'), {newsId:new.id} )}}"><button>читать далее</button></a></p>
                <p>Tags for this new:
                    {% for single_tag in new.tags %}
                        <a><button class='filter-btn' data-filter-id="{{single_tag.id}}">{{single_tag.tagName}}</button></a>
                    {% endfor %}
                </p>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% else %}
        <h2>No news yet</h2>
    {%  endif %}
    <div>
       {{ form(create_new_form)}}
    </div>
</div>
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

function ajaxEvent(selectedTag) {
    $.ajax({
        url: '{{ path('filtered_news') }}',
        type: 'GET',
        data: {'tag_name': selectedTag},
        success: function(data) {
            $('.news-block').html(data);
            console.log($('.news-block').find('.filter-btn'))
            $('.news-block').find('.filter-btn').click(function () {
                const selectedTag = $(this).text();
                ajaxEvent(selectedTag);
            });
        },
        error: function(error) {
            console.error('Error:', error);
        }
    });
}


$('.filter-btn').click(function () {
    const selectedTag = $(this).text();
    ajaxEvent(selectedTag);
});

</script>
{% endblock %}
{% endblock %}